{
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
      ],
    "rules": {
        "prop-types": [2],
        "arrow-parens": 0,
        "linebreak-style": 0,
        "no-path-concat": 0,
        "prefer-template": 0,
        "import/no-extraneous-dependencies": 0,
        "max-len": [1, 120, 2, {"ignoreComments": true}]
    },
    "extends": ["airbnb-base"]
}