  .header {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: rgb(53, 53, 53);
  }

  h2 {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
  }

  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: rgb(22, 18, 18);
    border: none; 
    border-bottom: solid 2px  rgb(247, 66, 96);
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
  }

  input:focus {
    outline: none;
  }

  .span-search {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
  }

  .container {
    padding: 20px 100px;
  }

  .flex-container {
    display: flex;
  }

  .flex-left {
    margin-left: auto;
  }

  .button-search {
    margin-left: auto;
    padding: 5px 55px;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    background-color: rgb(247, 66, 96);
    text-transform: uppercase;
    cursor: pointer;
  }

  .button-search:hover, 
  .button-search:focus,
  .button-search:active  {
    background-color: rgb(128, 128, 128);
  }

  .button-title, 
  .button-director {
    margin-left: 20px;
    padding: 5px 12px;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    cursor: pointer;
  }

  .button-title {
    text-transform: uppercase;
    background-color: rgb(247, 66, 96);
  }

  .button-title:hover, 
  .button-title:focus,
  .button-title:active  {
    background-color: rgb(128, 128, 128);
  }

  .button-director {
    text-transform: uppercase;
    background-color: rgb(128, 128, 128);
  }

  .button-director:hover, 
  .button-director:focus,
  .button-director:active  {
    background-color: rgb(128, 128, 128);
  }
  

 .results-count, 
 .results-filter {
    font-size: 13px;
  }

  .button-sub-header {
    background: none;
    outline: none;
    border: none;
    margin-left: 20px;
    cursor: pointer;
  }

  .button-sub-header:hover, 
  .button-sub-header:focus,
  .button-sub-header:active {
    color: rgb(247, 66, 96);
  }
