.ancore_sub {
  background: none;
  outline: none;
  border: none;
  font-weight: bold;
  margin-left: 20px;
  cursor: pointer;
  color: rgb(128, 128, 128);
}

.ancore_sub:hover,
.ancore_sub:focus,
.ancore_sub:active {
  color: rgb(247, 66, 96);
}
