.header {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: rgb(53, 53, 53);
  background-image: url(../../assets/background.jpg);
}

.wrap {
  width: 80%;
  margin: 0 auto;
}

h2 {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: rgb(22, 18, 18);
  border: none;
  border-bottom: solid 2px rgb(247, 66, 96);
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

input:focus {
  outline: none;
}

.span_search {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.flex_container {
  display: flex;
}

.button_search {
  margin-left: auto;
  padding: 5px 55px;
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 3px;
  background-color: rgb(247, 66, 96);
  text-transform: uppercase;
  cursor: pointer;
}

.button_search:hover,
.button_search:focus,
.button_search:active {
  background-color: rgb(128, 128, 128);
}

.btn {
  margin-left: 20px;
  padding: 5px 12px;
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(128, 128, 128);
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
}

.toggle {
  display: none;
}

.toggle:checked + label {
  background-color: rgb(247, 66, 96);
}
