.wrap {
    width: 80%;
    margin: 0 auto;
}

.container {
    padding: 20px 100px;
}

.flex_container {
    display: flex;
}

.results_count, 
.results_filter {
    font-size: 13px;
}

.results_filter {
    margin-left: auto;
}

.button_sub_header {
    background: none;
    outline: none;
    border: none;
    margin-left: 20px;
    cursor: pointer;
}

.button_sub_header:hover, 
.button_sub_header:focus,
.button_sub_header:active {
    color: rgb(247, 66, 96);
}